#brands.brands {
	/* margin-top: var(--space-xl); */
	
	#brands-intro{
		background-color: var(--jet-black);
		width: fit-content;
		color: var(--the-white);
		padding: var(--space-sm);
		padding-right: var(--space-md);
		margin: 0;
		margin-left: calc((100vw - var(--the-width)) / 2);

		/* font-size: var(--fs-lg); */
	}
	
	.section-wrapper {
		color: var(--jet-black);
		background: var(--the-white);
		display: grid;
		/* gap: var(--fs-sm); */
		/* margin-bottom: var(--space-xl); */
	}

	h2 {
		/* text-transform: uppercase; */
	}

	.marquee-wrapper {
		width: 100%;
		overflow: hidden;
		display: grid;
		/* gap: var(--fs-md); */
	}

	.marquee {
		overflow: hidden;
		width: 100%;
	}

	.marquee-track {
		display: flex;
		width: max-content;
		animation: marquee-left 45s linear infinite;
	}

	.marquee[data-reversed="true"] {
		.marquee-track {
			animation-direction: reverse;
		}
	}

	.marquee-content {
		display: flex;
		flex-shrink: 0;
		align-items: center;
		/* gap: var(--fs-lg); */
	}

	.brand-item {
		width: clamp(220px, 10vw, 40vw);
		flex-shrink: 0;
		padding: var(--space-md);

		figure {
			margin: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: var(--space-xs);
		}

		img {
			width: 100%;
			height: auto;
			aspect-ratio: 5 / 4;
			display: block;
			/* border-bottom: 1px solid var(--silver); */
			border-radius: 0;
		}

		figcaption {
			text-align: center;
			font-size: var(--fs-sm);
			padding: calc(var(--space-xs) / 2) var(--space-xs);
			line-height: 0.9;
			background-color: var(--silver);
			color: var(--super-white);
			text-transform: uppercase;
			letter-spacing: 0.06em;
		}
	}

	@media (max-width: 48rem) {
		.brand-item {
			width: clamp(150px, 60vw, 260px);
		}
	}
}

@keyframes marquee-left {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-50%);
	}
}