.other-kitchens-section {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    width: 100%;
}

.other-kitchens-section h2 {
    margin: 0;
    font-size: var(--fs-lg);
    letter-spacing: -0.02em;
}

.other-kitchens-section__fabric-link {
    /* color: var(--soft-grey); */
}

.other-kitchens-section .kitchens-grid {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxl);
}

@media (max-width: 48rem) {
    .other-kitchens-section {
        gap: var(--space-md);

        h2 {
            padding-inline: var(--space-sm);
        }

        .kitchens-grid {
            width: calc(100% + (var(--space-sm) * 2));
            margin-inline: calc(var(--space-sm) * -1);
            gap: var(--space-xl);
        }
    }
}
