

#simple-hero.section-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    gap: var(--space-sm);
    margin: 0;
    padding-top: 20vh;

    & h1 {
        margin: 0;
        font-size: var(--fs-xxl);
        letter-spacing: -0.05em;

    }

    & .hero__description {
        & p {
            margin: 0;
            max-width: 65ch;
            letter-spacing: -0.05em;
            font-size: min(2rem, 4rem);
            text-wrap: balance;
        }
    }

    & .hero__cta-wrapper {
        margin-top: var(--space-md);
        min-width: calc(var(--grid-col) * 2 + var(--grid-gap));
        width: fit-content;
        max-width: 100%;

        & .primary-btn:hover {
            background-color: var(--jet-black);
            color: var(--the-white);
        }
    }

    @media (max-width: 48rem) {
        padding-inline: var(--space-xs);
    }
}

