/* fabrics listing styles */
.fabric-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem 0;
}

.fabric-card {
    border: 1px black dotted;
    margin: 2rem;
    min-height: 25vh;
}